*
!.gitconfig
!.gitignore
!.zshrc
!.zprofile
!LICENSE
!.config/
.config/*
!.config/chromium-flags.conf
!.config/user-dirs.dirs
!.config/sway/
!.config/sway/**
!.config/foot/
!.config/foot/*
!.config/gtk*/
!.config/gtk*/*
!.config/nvim/
!.config/nvim/**
lazy-lock.json
